*
!.gitattributes
!.gitignore
!*.rs
!LICENSE*
!README*
!Cargo.lock
!Cargo.toml
!rustfmt.toml
!src/
!dicts/
!dicts/dict.txt*
!fonts/
!fonts/*.otf
!locales/
!locales/*.toml
!.github
!.github/workflows
!.github/workflows/*.yaml
